body {
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #000; /* Dark background for header */
}

.nav-link {
    margin-right: 20px;
    color: #fff;
}

.nav-link:hover {
    color: #ccc;
}

.form-control {
    border-radius: 50px; /* Rounded search bar */
    padding: 10px 20px;
}

.btn-primary {
    background-color: #1a1a1a; /* Custom button color */
    border-radius: 50px; /* Rounded button */
    padding: 10px 20px;
}

.btn-primary:hover {
    background-color: #333;
}

.form-select {
    width: auto;
    border-radius: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #fdf1dc; /* Light beige background */
    color: #212529; /* Default Bootstrap text color */
}

.hero-section {
    padding: 50px 0;
    background-color: #fdf1dc; /* Background color of the hero section */
}

.hero-section h1 {
    font-weight: bold;
    color: #1a1a1a; /* Darker text color for the heading */
}

.hero-section p {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 18px;
    color: #1a1a1a; /* Darker text color for the paragraph */
}

.hero-section .btn-outline-dark {
    border-color: #212529;
    color: #212529;
    border-radius: 50px; /* Rounded button */
    padding: 10px 20px;
}

.hero-section .btn-dark {
    background-color: #212529;
    color: #fff;
    border-radius: 50px; /* Rounded button */
    padding: 10px 20px;
}

.hero-section .btn-outline-dark:hover {
    background-color: #212529;
    color: #fff;
}

.hero-section .btn-dark:hover {
    background-color: #333;
}

/* .img-fluid {
    max-width: 100%;
    height: auto;
} */

/* .container{
    color: #fdf1dc;
} */


.custom-navbar{
    background-color: #fdf1dc;
}
.container .display-4{
    color: rgb(12, 12, 88);
}
.custom-btn{
    background-color: rgb(12, 12, 88);
}
.grid-image:hover {
    transform: scale(1.1);
}


.custom-homepage{
    background-color: #fdf1dc;
}
.custom-banner{
    background-color: #fdf1dc;
    border-radius: 50px;
}
.custom-banner  .display-4{
    font-weight: bold;
    color:  #212529;
}
.custom-banner  .paragraph{
    font-size: 35px;
    color:  #212529;
}
.container .para{
    font-weight: bold;
}



.footer-container {
    background-color: #f8e9d8; /* Light beige background */
    padding: 40px 0;
}
.footer-top {
    background-color: #003366; /* Dark blue background for the top section */
    padding: 20px;
    border-radius: 15px;
}
.footer-bottom {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}
.footer-brand {
    font-weight: bold;
    color: #003366; /* Dark blue text */
}
.footer-nav a {
    color: #003366; /* Dark blue text */
    margin-right: 15px;
}
.footer-nav a:hover {
    text-decoration: underline;
}
.footer-social a {
    color: #003366; /* Dark blue text */
    margin-right: 15px;
}

.custom-navbar .navbar-brand{
    color: #2c75bf;
    font-weight: bolder;
    font-family: cursive;
    
}